<%= render "shared/header" %>
<div>フォロー一覧</div>
<br>
<% @users.each do |user| %>
  <div><%= link_to user.name, user_path(user) %>    |<%= link_to 'フォロー解除', user_follow_path(user.id), method: :delete %>|</div>
<% end %>
<br>
<div>ユーザーを検索(未実装)</div>
