<%= render "shared/header" %>
<div>フォロワー一覧</div>
<% @users.each do |user| %>
  <div><%= link_to user.name, user_path(user) %><%= "　　相互" if current_user.following?(user) %>　　|<%= link_to 'フォロー', user_follows_path(user.id), method: :POST, %>|</div>
<% end %>