    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <a href="/" class="brand">YURUBO</a>
        </div>
        <div class="site-header__end">
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
            <% if user_signed_in? %>
              <li class="nav__item"><%= link_to "#{current_user.name} さん", user_path(current_user) %></a></li>
              <li class="nav__item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="nav__item"><a>ゲスト さん</a></li>
              <li class="nav__item"><a href="/users/sign_in">ログイン</a></li>
              <li class="nav__item"><a href="/users/sign_up">新規登録</a></li>
            <% end %>
            </ul>
          </nav>
          <div class="search">
            <form class="search__form" action="">
              <input
                type="search"
                name=""
                id="search"
                placeholder="検索機能は未実装です"
              />
              <label class="sr-only" for="search">検索</label>
            </form>
          </div>
        </div>
      </div>
    </header>