<%= render "shared/header" %>
<h1>日付のリンクより詳細確認/投稿ができます</h1>
<br>
<%= calendar(number_of_days: 28) do |date| %>
  <%= link_to date.day, "#" %>
<% end %>
<h1>"YURUBO"のつかいかた</h1>
<%= render "shared/footer" %>
