.user__show__contents {
  left: 40%;
}

.user__show__container {
  text-align: center;
  margin: 20px 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.title-input{
  border: 1px solid black;
  border-radius: 3px;
}

.registration-btn{
  margin: 5px;
  padding: 0 5px;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: #def7ff;
}

.follows-box{
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.follows-btn{
  margin: 5px 20px;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: #f4efe2;
}

.user__show__index{
  font-size: 12px;
}